
.body {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-evenly;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.title {
  text-align: center;
  position: relative;
}

#adminLogin {
  text-decoration: underline;
  color: #364dff;

}
#adminLogin:hover {
  font-weight: bold;
}